<ul id="question_answers">
  <% if @question.answers.any? %>
    <% @question.answers.each do |answer| %>

      <li>
        <%= answer.title %>
      </li>

    <% end %>
  <% end %>
</ul>

<p><%= link_to "Add an Answer", new_question_answer_path(@question), id: "new_answer_link", class: "btn btn-default", remote: true %></p>
